/* 
    Created By Jackson Mitchell
    Last Updated: 2024-03-27

    SOURCES
    For creating code ChatGPT was used and the code was modified 
*/

html {
    background-color:rgb(255, 251, 235);
}
* { 
    font-family: Consolas; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0px;
    font-size: 40px;
}
p {
    font-size: 20px;
}

/* task table css */
table { 
    width: 90%;
    table-layout: fixed;
    margin-top: 50px;
    margin-bottom: 80px;
    border-collapse: collapse;
}
table th, table td {
    width: 20%; /* Adjust this value as needed */
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}
table thead {
    font-size: 20px;
}
table th {
    padding: 15px;
    background: #bdb9b9;
}
table tr:nth-child(odd) {
    text-align: center;
    background: #e4e4e4;
}
table tr:nth-child(even) {
    text-align: center;  
    background: #f2f2f2; 
}
table td {
    padding: 15px; 
    
}

/* Ordering CSS */
.asc {
    background: #ff0000; 
}
.desc {
    background: #00ff73; 
}